@model P1Models.Item

@{
    ViewData["Title"] = "AddCart6";
}


<h4>Add your desired product quantity to your cart!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCart6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">ProductId</label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label">Make</label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




<form asp-action="StoreInven6">
    <div class="form-group">
        <input type="submit" value="Return to Store" class="btn btn-primary" />
    </div>
</form>



<form asp-action="ViewOrder">
    <div class="form-group">
        <input type="submit" value="View Order" class="btn btn-primary" />
    </div>
</form>

<form asp-action="Checkout">
    <div class="form-group">
        <input type="submit" value="Checkout" class="btn btn-primary" />
    </div>
</form>