@model P1Models.Cart

@{
    ViewData["Title"] = "Checkout";
}



<table style="text-align:center">
    <tr>
        <th>Order Date</th>
        <th>CustomerId</th>
        <th>Items</th>
        <th>Price</th>
        <th>Quantity Bought</th>
        <th>Total Cost</th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.DateOrder)
        </td>
        <td>
            @Html.DisplayFor(model => model.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(model => model.Items)
        </td>
    </tr>
</table>

<p>
    Thank you for shopping!
</p>