@model P1Models.Cart

@{
    ViewData["Title"] = "CreateCart";

}


<h4>A new cart has been created!</h4>


<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateOrder)
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                @Html.DisplayFor(model => model.DateOrder)
            </td>
            <td>
                @Html.DisplayFor(model => model.Items)
            </td>
        </tr>
    </table>
</div>



<form asp-action="AddCart">
    <div class="form-group">
        <input type="submit" value="Add to Cart" class="btn btn-primary" />
    </div>
</form>

<form asp-action="ViewOrder">
    <div class="form-group">
        <input type="submit" value="View Order" class="btn btn-primary" />
    </div>
</form>

<form asp-action="Checkout">
    <div class="form-group">
        <input type="submit" value="Checkout" class="btn btn-primary" />
    </div>
</form>
